* {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
  }
  
  body {
    background-color: #0C1218;
    background-image: url('Media/Images/Bg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
    #bgvid {
      position: fixed;
      left: 0;
      top: 0;
      object-fit: cover;
      height: 100%;  
      width: 100%;
      
    }
  
    .banner {
      font-size: 35px;
      color: #237bb6;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-right: 70%;
      background-color: rgb(68, 255, 193);
    }

    .topleft {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    
    }
  
    .bottomleft {
      position: absolute;
      bottom: 0;
      left: 16px;
      background-color: rgb(68, 255, 193);
      border-top-right-radius: 10px;
      padding-right: 10px;
      padding-left: 10px;
    }
    .bottomleft > p {
      color: #237bb6
    }
  
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      box-shadow:  0 0 1rem 0 rgba(0, 0, 0, .2);
      background: inherit;
      overflow: hidden;
      border-radius: 5px;
      z-index: 1;
    }
  
    .middle:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3);
      filter: blur(30px);
      background: inherit;
      margin: -20px;
      z-index: -1;
    }
    .middle > h1 {
      font-size: 25px;
    }
    
    .middle > p {
      font-size: 20px;
      margin: 20px 20px 20px 20px;
    }
  
    .typing {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid #7fffd4; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    }
  
    @keyframes typing {
      from { width: 0 }
      to {width: 100% }
    }
  
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: aquamarine;  }
    }
  
    .middle > hr {
      margin: auto;
      width: 40%;
    }