* {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(103, 173, 150);
  }
  
  body {
    background-color: #0C1218;
    background-image: url('Media/Images/Bg.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
    #bgvid {
      position: fixed;
      left: 0;
      top: 0;
      object-fit: cover;
      height: 100%;  
      width: 100%;
      
    }

/* end of background stuff */
    .topleft {
      left: 0;
      top: 5vh;
      width: 25vw;  
      backdrop-filter: blur(5px); 
      background-color: rgba(255, 255, 255, 0.125); 
      border-bottom: solid .5px rgba(255, 255, 255, 0.5);
      box-shadow: 0em 0em 1em black ; 
      border-top-right-radius: .3em;
      border-bottom-right-radius: .3em;
      white-space: nowrap;
      padding-bottom: 2.5em;
    }

    .topleft h1 {
      font-size:3em;
      color: #237bb6;
      padding-top: 1.5em;
      
    }

/* button stuff */
.button {
  border-radius: 4px;
  background-color: #0C1218;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button a {
  color: rgb(103, 173, 150);
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* bottom stuff */
    .bottomleft {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #0C1218;
      border-top-right-radius: 1em;
      padding-right: 1em;
      padding-left: 1em;
    }
    .bottomleft > p {
      color: aliceblue
    }
  
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      box-shadow:  0 0 .5rem 0 rgba(0, 0, 0, .5);
      background: inherit;
      overflow: hidden;
      border-radius: 2.5px;
      backdrop-filter: blur(5px);
      border-bottom: solid .5px rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.125);
    }
  
    .middle > h1 {
      font-size: 3em;
    }
    
    .middle > p {
      font-size: 2em;
      font-weight: bold;
      margin: 20px 20px 20px 20px;
  
    }
  
    .typing {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid aqua; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    }
  
    @keyframes typing {
      from { width: 0 }
      to {width: 100% }
    }
  
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: aqua;  }
    }
  
    .middle > hr {
      margin: auto;
      width: 40%;
    }