* {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color: aquamarine;
}

body {
  /* Background Image */
  background-image: url('Media/Images/Bg.png');
  background-size: cover;
  height: 100%;
  width: 100%;
}

  .banner {
    height: auto;
    width: 30%;
}

  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 16px;
  }

  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 
  }
  .middle > h1 {
    font-size: 25px;
  }
  
  .middle > p {
    font-size: 20px;
  }

  .middle > hr {
    margin: auto;
    width: 40%;
  }