* {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color: aquamarine;
}

/* body {
  background-image: url('Media/Images/Bg.png');
  background-size: cover;
  height: 100%;
  width: 100%;
} */

  #bgvid {
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;

  }

  .banner {
    font-size: 50px;
    padding-top:80px;
    color: #237bb6;
}
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 
  }
  .middle > h1 {
    font-size: 25px;
  }
  
  .middle > p {
    font-size: 20px;
    margin-top: 20px;
  }

  .typing {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid aquamarine; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to {width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: aquamarine;  }
  }

  .middle > hr {
    margin: auto;
    width: 40%;
  }